<div class="wrapper">
    <div class="portrait" ng-repeat="user in users">
        <div class="test">
            <img src="images/portraits_square_500x500/{{user.id}}.png"  class="image">
            <div class="indicate" ng-click="openDialog(user.id)" ng-class="{'online':user.online}">
            <p ng-show="user.online"> {{user.username}} is here</p>
            </div>
        </div>
    </div>
    <div class="dialog" ng-show="isOpenDialog">
        <div class="confirm-wrapper">
            <img src="images/x.png" ng-click="closeDialog()" class="exit">
            <div class="confirm" ng-click="!greeting && confirm()">
                <img src="images/portraits_square_500x500/{{currentUser.id}}.png"
                     class="confirm-image">
                <div class="confirm-div">
                    <p>Yes I am</p>
                </div>
            </div>

            <div class="info" ng-show="!greeting && !currentUser.online"> Hi {{currentUser.userName}}! Signing in?</div>
            <div class="info" ng-show="!greeting && currentUser.online"> Hi {{currentUser.userName}}! Signing out?</div>
            <div class="greeting" ng-show="greeting && !currentUser.online"> Bye! See you soon!</div>
            <div class="greeting" ng-show="greeting && currentUser.online"> Have a nice day!</div>

            <span class="small-text" ng-show="!greeting">Click your photo to confirm</span>
        </div>
    </div>
    <div class="logo-wrapper">
        <img src="images/ubimo_logo.png" class="logo">
    </div>
</div>
