html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
}
.dashboard {
    min-height: 100%;
    background-color: #EDEDED;
}

.wrapper {
    position: relative;
    /*min-height: 100%;*/
    margin: auto 8em;
}

.dialog {
    position: absolute;
    background-color: #EDEDED;
    opacity: 0.95;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    min-height: 100%;
}

.portrait {
    display: inline-block;
    width: 25%;
    min-width: 100px;
    margin-top: 1.5em;
    padding-left: 3em;
}



.test {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 0.33333em solid red;
}

.indicate {
    position: absolute;
    background-color: green;
    border-radius:50%;
    border: 0.33333em solid transparent;
    opacity: 0;
    font-size: 1.5em;
    width: 100%;
    height:100%;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.indicate p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image {
    /*border-radius: 237px;*/
    border-radius: 50%;
    width: 100%;
    height: 100%;
    /*min-width: 100px;*/
    /* border-width: 447px; */

}

.confirm {
    position: relative;
    display: block;
}

.confirm-image {
    width: 30%;
    min-width: 150px;
    border-radius: 50%;
    border: 0.33333em solid red;
    height: auto;
}

.confirm-div {
    position: absolute;
    background-color: #FF5B57;
    height: 100%;
    width: 30%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 150px;
    border-radius: 50%;
    transition: opacity .5s;
}

.confirm-div:hover {
    opacity: .6;
    transition: opacity .5s;
}

.confirm-div p {
    position: relative;
    color: #fff;
    font-size: 4.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo-wrapper {
    text-align: right;
    padding: 1.25em;
    /*height: 100%;*/
    position: relative;
    bottom: 0;
    right: 0;

}

.logo {
    min-width: 100px;
    width: 25%;
}

.confirm-wrapper {
    text-align: center;
    padding: 10%;
}

.exit {
    position: relative;
    top: 0;
    right: 0;
    margin-right: -36%;
    width: 3%;
    min-width: 15px;
}

.greeting, .info {
    font-size: 4.5em;
    color: #737A6E;
}

.small-text {
    font-size: 1.5em;
    color: #737A6E;
}

.online {
    opacity: .6;
}


@media (max-width: 1080px) {
    .confirm-div p {
    font-size: 3.5em;
    }
}

@media (max-width: 980px) {
    .confirm-div p {
        font-size: 2.5em;
    }
}
@media (max-width: 670px) {
    .indicate {
        font-size: 1em;
    }
    .confirm-div p {
        font-size: 1.5em;
    }
    .info, .greeting{
        font-size: 2.5em;
    }
    .small-text{
    font-size: 1.5em;
    }

}
@media (max-width: 520px) {
    .indicate {
        font-size: 0.85em;
    }
}
