.dashboard {
    min-height: 100%;
    background-color: #EDEDED;
}

.wrapper {
    position: relative;
    /*min-height: 100%;*/
}

.dialog {
    position: absolute;
    background-color: #EDEDED;
    opacity: 0.95;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    min-height: 100%;
}

.portrait {
    display: inline-block;
    width: 25%;
    min-width: 100px;
    margin-top: 25px;
    padding-left: 50px;
}

.test {
    display: inline-block;
    background-color: green;
    border-radius: 50%;

    text-align: center;

}

.image {
    /*border-radius: 237px;*/
    border-radius: 50%;
    width: 100%;
    height: 100%;
    /*min-width: 100px;*/
    /* border-width: 447px; */
    border: 6px solid red;
}
.confirm {
    width: 100%;
    position: relative;
    display: block;
}

.confirm-image {
    width: 30%;
    min-width: 150px;
    border-radius: 50%;
    border: 6px solid red;
    height: auto;
}
.confirm-div {
    position: absolute;
    background-color: #FF5B57;
    height: 100%;
    width: 30%;
    opacity: 0;
    top: 0;
    left: 35%;
    min-width: 150px;
    border-radius: 50%;
    transition: opacity .5s;
}
.confirm-div:hover {
    opacity: .6;
    transition: opacity .5s;
}

.confirm-div p {
    color: #fff;
    text-align: center;
    font-size: 72px;
    margin-top: 150px;
}

.logo-wrapper {
    text-align: right;
    padding: 20px;
    /*height: 100%;*/
    position: relative;
    bottom: 0;
    right: 0;

}

.logo {
    min-width: 100px;
    width: 25%;
}

.confirm-wrapper {
    text-align: center;
    padding: 10%;
}

.exit {
    position: relative;
    top: 0px;
    right: 0px;
    margin-right: -36%;
    width: 3%;
    min-width: 15px;
}

.greeting {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    color: #737A6E;
}

.online {
    opacity: 0.5;
}

.indicate {
    position: absolute;
    margin-top: 9%;
    margin-left: 5%;
    color: #FFFFFF;
}

html, body {
    height: 100%;
    margin: 0;
}
